<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="stylesheet" href="./styles.css" />
		<title>Cafe with a Vue</title>
	</head>
	<body>
		<div id="app">
			<h1>La belle vue</h1>
			<p class="description">
				Bienvenue dans notre café la belle vue ! Nous sommes réputés pour notre
				pain et nos merveilleuses pâtisseries. Faites vous plaisir dès le matin
				ou avec un goûter réconfortant. Mais attention, vous verrez qu'il est
				difficile de s'arrêter.
			</p>
			<h2> Panier d'achat :</h2>
			<ul>
				<li v-for="item in shoppingCart">
					 <a v-bind:href = "item.cost">{{ item.label}} </a> : {{ item.cost}} $
				</li>
			</ul>
			<p>Total : {{ totalAmoun }}</p>
			<div>
				<h2>Montrer ma couleur préférée: </h2>
			    <button v-on:click="showColor"> Cliequez ici ! </button>
			</div>
			<div>
				<h2> Changer ma couleur préférée : {{ favoriteColor}}</h2>
				<label for="change-color"> Changer Couleur:</label>
				<input id = "change-color" type="text" v-model="favoriteColor"/>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script>
			const app = new Vue({
				el : '#app',
				data : {
					shoppingCart : [
					  {
						  label : 'Apples',
						  cost : 10,
						  url : '/apples.html'
					  },
					  {
						label : 'Bananes',
						cost : 2,
						url : '/bananes.html'
					  },
					  {
						label : 'Coconuts',
						cost : 28,
						url : '/coconuts.html'

					  }
					],
					favoriteColor : 'bleu',
				},
					methods:{
						showColor(){
							alert(this.favoriteColor)
						},
						/*changeColor(){
							this.favoriteColor = document.getElementById('change-color').value

						}*/
					},
				
			
				computed : {
					totalAmoun(){
						let total = 0 
						this.shoppingCart.forEach(item =>{
							total += item.cost
						})
						return total
					}
				}
			})
		</script>
	</body>
</html>
